@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Josefin+Sans:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.stage {
  width: 100%;
  max-height: 750px;
  background-image: url(../assets/block-1/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center center;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.container {
  padding-top: 265px;
  text-align: center;
}
@media (max-width: 767px) {
  .container {
    padding-top: 100px;
  }
}

.header {
  color: #ffffff;
  font-family: "Josefin Sans";
  line-height: 26px;
}
.header .heder__title {
  width: 100%;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .header .heder__title {
    font-size: 45px;
    font-weight: 400;
    text-transform: center;
  }
}
.header .header__subtitle {
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 6.82px;
  padding-bottom: 50px;
}
.header .header__scroll {
  padding-top: 120px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
}
.header .scroll__pointer {
  padding-bottom: 135px;
}
@media (max-width: 767px) {
  .header .scroll__pointer {
    padding-bottom: 50px;
  }
}

form {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  form {
    padding-bottom: 50px;
  }
}
form button {
  padding: 18px 0 18px 20px;
  width: 150px;
  position: absolute;
  top: 0px;
  right: 0px;
  background: #5474fd;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
}
form .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Aleo";
  text-transform: uppercase;
  letter-spacing: 1.4px;
}
form .btn .search {
  margin-right: 15px;
}
form input {
  width: 100%;
  height: 60px;
  color: #999999;
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.8px;
  padding-left: 8%;
}

.menu {
  width: 100%;
  background-color: #5474fd;
  padding: 28px 0 32px 0;
}
.menu .menu__wrapp {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.menu__logo {
  font-family: "Josefin Sans";
  color: #ffffff;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu {
  font-family: "Aleo";
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
}
.nav__menu .nav__list {
  display: flex;
}
.nav__menu .nav__list .nav__item .nav__link {
  color: #ffffff;
  margin: 0 0 0 42px;
}

@media (max-width: 767px) {
  .nav__menu {
    display: none;
  }

  .menu__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .menu__burger span {
    position: absolute;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .menu__burger:before,
.menu__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .menu__burger:before {
    top: 0;
  }

  .menu__burger:after {
    bottom: 0;
  }

  .menu__burger.active span {
    transform: scale(0);
  }

  .menu__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  .menu__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}
.panel {
  background-color: #333333;
  color: #ffffff;
}
.panel .panel__wrapp {
  display: flex;
  justify-content: space-around;
  padding: 80px 0 119px 0;
}
@media (max-width: 767px) {
  .panel .panel__wrapp {
    display: block;
    padding: 40px 0 40px 0;
  }
  .panel .panel__search {
    margin-bottom: 40px;
  }
  .panel .panel__select {
    margin-bottom: 40px;
  }
  .panel .panel__book {
    margin-bottom: 40px;
  }
}
.panel .panel__search {
  text-align: center;
  cursor: pointer;
  position: relative;
}
.panel .panel__search:before {
  display: block;
  width: 150px;
  content: "";
  position: absolute;
  border-top: 1px dotted #ffffff;
  width: 250px;
  height: 100px;
  margin: 100px;
  border-radius: 50%;
  top: -150px;
  left: 60px;
  right: 330px;
}
@media (max-width: 1099px) {
  .panel .panel__search:before {
    content: none;
  }
}
.panel .panel__select {
  text-align: center;
  cursor: pointer;
  position: relative;
}
.panel .panel__select:before {
  display: block;
  width: 150px;
  content: "";
  position: absolute;
  border-top: 1px dotted #ffffff;
  width: 250px;
  height: 100px;
  margin: 100px;
  border-radius: 50%;
  top: -150px;
  left: 60px;
  right: 330px;
}
@media (max-width: 1099px) {
  .panel .panel__select:before {
    content: none;
  }
}
.panel .panel__book {
  text-align: center;
  cursor: pointer;
}
.panel .panel--text {
  color: #e8e8e8;
  font-family: "Aleo";
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 30px;
}

.choose {
  width: 100%;
  background-image: url(../assets/block-2/bg-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center center;
}
.choose .choose__wrapp {
  display: flex;
  padding: 120px 0 120px 0;
}
.choose .choose__place {
  max-width: 666px;
  color: #ffffff;
  font-family: "Aleo";
  padding-right: 120px;
}
.choose .choose__title {
  display: inline-block;
  padding-top: 84px;
  padding-bottom: 62px;
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
}
.choose .choose__desc-1,
.choose .choose__desc-2 {
  color: #e8e8e8;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.choose .choose__desc-1 {
  margin-bottom: 28px;
}
.choose .choose__desc-2 {
  margin-bottom: 56px;
}
.choose .choose__btn {
  display: inline-block;
}
.choose .choose__btn .choose__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #5474fd;
  padding: 23px 46px;
}
.choose .choose__btn .choose__link:hover {
  border: 2px solid #5474fd;
  background-color: #cccccc;
  color: #5474fd;
  font-weight: 700;
}
.choose .choose__gallery {
  width: 425px;
  text-align: right;
}
.choose .choose__img-1 img {
  margin-bottom: 5px;
  display: flex;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .choose .choose__wrapp {
    display: block;
    padding: 0px 0 50px 0;
  }
  .choose .choose__place {
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }
  .choose .choose__title {
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  .choose .choose__gallery {
    width: 100%;
    text-align: center;
    padding: 0 10px 0 10px;
  }
  .choose .choose__img-1 img {
    width: 100%;
  }
  .choose .choose__img-2 img {
    width: 100%;
  }
  .choose .choose__place .choose__btn {
    display: flex;
    padding-bottom: 25px;
    justify-content: center;
  }
}

.spainone {
  width: 100%;
  background-image: url(../assets/block-3/bg-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center center;
}
.spainone .wrapper {
  padding-top: 229px;
  padding-bottom: 100px;
}

.spainone__wrapp {
  display: inline-block;
  max-width: 540px;
  background-color: #232323;
  opacity: 0.9;
  padding: 30px 32px 50px 30px;
}
.spainone__wrapp .spainone__spain {
  color: #e8e8e8;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.spainone__wrapp .spainone__title {
  display: inline-block;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.spainone__wrapp .spainone__desc {
  color: #e8e8e8;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}
.spainone__wrapp .spainone__btn {
  display: inline-block;
}
.spainone__wrapp .spainone__btn .spainone__link {
  font-family: "Aleo";
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 24px 63px 23px 62px;
  background: linear-gradient(40deg, #496bfe 50%, #5474fd 50%);
}
.spainone__wrapp .spainone__btn .spainone__link:hover {
  border: 2px solid #5474fd;
  background: #cccccc;
  color: #5474fd;
  font-weight: bold;
}
@media (max-width: 767px) {
  .spainone__wrapp .spainone__btn {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .spainone__wrapp {
    max-width: 100%;
  }
}
.spaintwo {
  width: 100%;
  background-image: url(../assets/block-4/bg-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center center;
}
.spaintwo .wrapper {
  padding-top: 229px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
}
.spaintwo .spaintwo__wrapp {
  display: inline-block;
  max-width: 540px;
  background-color: #232323;
  opacity: 0.9;
  padding: 30px 32px 50px 30px;
}
.spaintwo .spaintwo__spain {
  color: #e8e8e8;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}
.spaintwo .spaintwo__title {
  display: inline-block;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.spaintwo .spaintwo__desc {
  color: #e8e8e8;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 48px;
}
.spaintwo .spaintwo__btn {
  display: inline-block;
}
.spaintwo .spaintwo__btn .spaintwo__link {
  font-family: "Aleo";
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 24px 63px 23px 62px;
  background: linear-gradient(40deg, #496bfe 50%, #5474fd 50%);
  background-color: #496bfe;
}
.spaintwo .spaintwo__btn .spaintwo__link:hover {
  border: 2px solid #5474fd;
  background: #cccccc;
  color: #5474fd;
  font-weight: bold;
}
@media (max-width: 767px) {
  .spaintwo .spaintwo__btn {
    display: flex;
    justify-content: center;
  }
  .spaintwo .spaintwo__wrapp {
    max-width: 100%;
  }
}

.tourist {
  width: 100%;
  background-image: url(../assets/block-5/bg-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center center;
  padding-top: 120px;
  padding-bottom: 200px;
}

.tourist__title {
  color: #ffffff;
  font-family: "Aleo";
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding-bottom: 94px;
}

.tourist__wrapp {
  display: flex;
  background-color: #333333;
}

.tourist__subtitle {
  color: #fefefe;
  font-family: "Josefin Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  display: flex;
  padding-left: 60px;
  padding-top: 40px;
  display: inline-block;
}

.tourist__desc {
  color: #e8e8e8;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  padding: 20px 54px 0px 60px;
  position: relative;
}
.tourist__desc p {
  text-align: justify;
  text-indent: 25px;
}
.tourist__desc .fas {
  position: absolute;
  top: 10px;
  left: 36px;
  color: #5474fd;
}

@media (max-width: 767px) {
  .tourist {
    padding-bottom: 50px;
  }

  .tourist__wrapp {
    display: inline;
  }

  .tourist__sam {
    display: flex;
    justify-content: center;
  }

  .tourist__sam img {
    padding: 0 10px 0 10px;
    width: 100%;
    height: 100%;
  }
}
.footer {
  width: 100%;
  background-color: #232323;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: center center;
  color: #ffffff;
  padding-top: 120px;
  padding-bottom: 52px;
  font-family: "Josefin Sans";
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3.36px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.footer__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.6px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.footer__social {
  text-align: center;
}
.footer__social .footer__link {
  color: #ffffff;
  font-size: 20px;
}
.footer__social .footer__link:hover {
  color: #5474fd;
}

@media (max-width: 767px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.footer__block {
  width: 164px;
  margin: 0 auto;
}
.footer__block .footer__social {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}