@mixin grayline {
   display: block;
   content: "";
   color: $color-10;
   width: 123px;
   height: 1px;
   border: 1px solid;
}

@mixin image {
   display: block;
   max-width: 100%;
   height: auto;
}

@mixin pendent {
   font-style: italic;
   font-size: 16px;
   color: $color-2;
   margin-bottom: 11px;
}
