* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.main {
  background-color: #ffe92f;
  width: 1500px;
  height: 1536px;
  padding-top: 100px;
  margin: 0 auto;
}

.header {
  width: 577px;
  height: 185px;
  margin: 0px 461px 46px 462px;
}

.wrapper {
  width: 1170px;
  height: 980px;
  margin: 0px 165px 50px 165px;
}

.header__title {
  width: 308px;
  height: 87px;
  font-family: "Raleway", bold;
  font-weight: bold;
  font-size: 90px;
  line-height: 0.3;
  color: #262626;
  margin: 0 auto;
}

.header__info {
  width: 577px;
  height: 70px;
  font-family: "Raleway", bold;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.59;
  text-align: center;
  color: #262626;
}

.wrapper {
  position: relative;
}
.wrapper .row-1 {
  width: 1170px;
  height: 550px;
  position: absolute;
  top: -5px;
  left: -9px;
  display: flex;
  margin-bottom: 30px;
}
.wrapper:hover {
  cursor: pointer;
}

.block-2__wrapp {
  position: relative;
}
.block-2__wrapp .bilberry {
  position: absolute;
  top: 3px;
  left: 14px;
}
.block-2__wrapp .blackberry {
  position: absolute;
  top: 291px;
  left: 14px;
}

.row-2 {
  position: relative;
}
.row-2 .milk {
  position: absolute;
  top: 576px;
  left: -4px;
}
.row-2 .dried {
  position: absolute;
  top: 576px;
  left: 594px;
}

.button {
  width: 200px;
  height: 55px;
  background-color: #5585a2;
  margin: 0px 650px 120px 650px;
  font-family: "Raleway", bold;
  padding: 16px 44px 20px 43px;
}
.button:hover {
  background-color: #fff;
  border: 2px solid #5585a2;
  cursor: pointer;
  box-shadow: 1px -1px 53px -4px #5585a2 inset;
  color: #5585a2;
  font-weight: bold;
}
.button p {
  width: 120px;
  height: 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.35;
  text-align: left;
  color: #ffffff;
}
.button p:hover {
  color: #5585a2;
  font-weight: bold;
}