* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Museo Sans Rounded";
  src: url("../fonts/MuseoSansRounded-300.ttf");
  src: local("Museo Sans Rounded 300"), local("MuseoSansRounded-300"), url("MuseoSansRounded-300.eot?#iefix") format("embedded-opentype"), url("MuseoSansRounded-300.woff2") format("woff2"), url("MuseoSansRounded-300.woff") format("woff"), url("../fonts/MuseoSansRounded-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  padding: 100px;
}

.main {
  width: 800px;
  height: 600px;
  border: 1px solid #000;
  margin: 0 auto;
}
.main__wrapp {
  width: 686px;
  height: 391px;
  margin-left: 63px;
  margin-top: 109px;
  position: relative;
  border: 1px solid #000;
}

.logo {
  width: 65px;
  height: 33px;
  background-image: url(../img/logo.png);
  margin-left: 21px;
  position: absolute;
  top: 24px;
}

.content {
  width: 594px;
  height: 238px;
  margin: 78px 56px 75px 36px;
  display: flex;
}
.content .content__shoe {
  width: 328px;
  border: 1px solid #000;
  margin-top: 47px;
  margin-bottom: 32px;
}
.content .content__text {
  width: 184px;
  height: 238px;
  border: 1px solid blue;
  margin-left: 81px;
  font-family: "Museo Sans Rounded";
}