.main {
   width: 800px;
   height: 600px;
   /* border: 1px solid gray; */
   margin: 0 auto;
   padding: 52px 200px;
   font-family: "Quicksand", sans-serif;
}
.wrapp {
   width: 400px;
   height: 496px;
   mix-blend-mode: soft-light;
   box-shadow: 3px 23px 22px -1px #000000;
   background-image: linear-gradient(
         to right top,
         rgb(48, 35, 174, 0.9),
         rgb(99, 50, 184, 0.8),
         rgb(137, 68, 194, 0.7),
         rgb(170, 87, 204, 0.6),
         rgb(200, 109, 215, 0.5)
      ),
      url(../img/VectorSmartObject.png);
}
/* ----------------------------- */
.swich {
   display: flex;
   font-size: 18px;
   font-weight: bold;
}
.sign {
   margin: 52px 26px 57px 71px;
   width: 59px;
   height: 20px;
   text-align: left;
   color: #fbf6e4;
   opacity: 0.4;
   position: relative;
}
.sign a,
.join a {
   color: #fff;
}

.join {
   margin: 52px 182px 57px 0px;
   width: 62px;
   height: 20px;
   text-align: left;
   color: #fbf6e4;
   opacity: 0.4;
}
.sign:hover {
   opacity: 1;
   transition: all 0.4s ease-in;
   box-shadow: 0px 4px 0px 0px #e66a64;
}

.join:hover {
   opacity: 1;
   transition: all 0.4s ease-in;
   box-shadow: 0px 4px 0px 0px #e66a64;
}
/* ----------------------- */
legend {
   margin-left: 72px;
   margin-bottom: 11px;
   font-weight: bold;
   font-size: 16px;
   color: #fbf6e4;
}
/* ----------------------- */
.user-name input {
   width: 261px;
   height: 42px;
   margin: 0px 69px 18px 70px;
   background-color: transparent;
   border: 2px solid #a48aca;
   color: #fff;
   text-indent: 20px;
}
.user-pass input {
   width: 261px;
   height: 42px;
   margin: 0px 69px 22px 70px;
   background-color: transparent;
   border: 2px solid #a48aca;
   color: #fff;
   text-indent: 20px;
}
.user-name input:hover {
   border: 2px solid #23ae92;
   box-shadow: 0px 1px 20px 9px #a48aca;
}
.user-pass input:hover {
   border: 2px solid #23ae92;
   box-shadow: 0px 1px 20px 9px #a48aca;
}
/* --------CHECKBOX---------- */
.checkbox label {
   width: 150px;
   height: 13px;
   font-family: Quicksand;
   font-size: 13px;
   font-weight: bold;
   text-align: left;
   color: #fbf6e4;
   margin: 0px 180px 41px 70px;
   position: absolute;
   cursor: pointer;
}
input[type="checkbox"] {
   display: none;
}
label {
   color: #000;
   cursor: default;
   vertical-align: middle;
}
label:before {
   content: " ";
   display: inline-block;
   margin-right: 15px;
   margin-top: -2px;
   position: relative;
   text-align: center;
   text-indent: 0px;
   width: 16px;
   height: 16px;
   background: #23ae92;
   border-image: initial;
   vertical-align: middle;
}
input:checked + label:before {
   content: "\2714";
   display: inline-block;
}
/* -----BUTTON----- */
.btn {
   margin: 41px 69px 33px 70px;
}
.btn button {
   width: 261px;
   height: 42px;
   background-color: #23ae92;
   font-size: 18px;
   font-weight: bold;
   color: #fbf6e4;
   opacity: 0.5;
}
.btn button:hover {
   box-shadow: 3px 28px 31px 9px #000000;
}
.btn button:active {
   opacity: 1;
}
/* -----FOOTER------ */
.footer {
   display: flex;
}
.forgot {
   width: 108px;
   height: 16px;
   margin: 0px 0px 70px 70px;
   font-size: 13px;
   color: #fbf6e4;
   opacity: 0.5;
   box-shadow: 0px 1px 0px 0px #fbf6e4;
}
.create {
   width: 119px;
   height: 16px;
   margin: 0px 70px 70px 47px;
   font-size: 13px;
   color: #fbf6e4;
   text-align: left;
   opacity: 0.5;
   box-shadow: 0px 1px 0px 0px #fbf6e4;
}
.forgot:hover {
   opacity: 1;
}
.create:hover {
   opacity: 1;
}
