.main {
   width: 1500px;
   margin: 0 auto;
}
.fresh {
   height: 1087px;
   background-image: url(../img/Fresh/bg.png);
}
.fresh__header {
   display: flex;
}
.fresh__logo {
   font-family: "Pacifico";
   width: 127px;
   height: 52px;
   font-size: 50px;
   color: #262626;
   margin: 50px 485px 258px 165px;
}

.fresh__nav {
   width: 559px;
   height: 12px;
   margin: 69px 164px 0px 0px;
   position: relative;
}
.fresh__line:before {
   content: " ";
   background: #ff6033;
   width: 50px;
   height: 3px;
   position: absolute;
   top: 0px;
   left: 0px;
}
.fresh__nav ul {
   display: flex;
   font-family: "Raleway";
   font-size: 16px;
   font-weight: bold;
   line-height: 1.56;
   text-align: right;
   color: #262626;
   justify-content: space-between;
   text-transform: uppercase;
}
/* ------------------------- */
.fresh-life {
   width: 291px;
   height: 46px;
   margin: 0px 1049px 34px 164px;
}
.fresh-life h1 {
   font-family: "Raleway";
   font-weight: Bold;
   font-size: 60px;
   font-weight: 900;
   line-height: 0.42;
   text-align: left;
   color: #262626;
}
.seddo {
   width: 368px;
   height: 70px;
   margin: 0px 967px 31px 165px;
}
.seddo p {
   font-family: "Raleway";
   font-size: 17px;
   font-weight: 300;
   line-height: 1.59;
   text-align: left;
   color: #262626;
}
.get {
   width: 200px;
   height: 55px;
   box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
   background-color: #ff6033;
}
.get {
   margin: 0px 1135px 491px 165px;
   padding: 15px 26px 20px 25px;
   cursor: pointer;
}
.get:active {
   border: 1px solid #880518;
}
.get p {
   width: 149px;
   height: 15px;
   font-family: Raleway;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.35;
   text-align: left;
   text-transform: uppercase;
   color: #ffffff;
}
.scroll {
   position: absolute;
}
.fas {
   position: relative;
   top: -150px;
   left: 50%;
}
.fa-mouse {
   color: gray;
}
/* -------ABOUT US-------- */
.about {
   display: flex;
   height: 700px;
   margin-top: -87px;
   background-color: rgb(0, 188, 188);
   font-family: "Raleway";
}
.plate img {
   width: 566px;
   height: 559px;
   margin: 75px 94px 70px 90px;
}
.about__descr {
   width: 499px;
   height: 188px;
}
.about-use {
   width: 395px;
   height: 67px;
   margin-top: 220px;
   font-size: 90px;
   font-weight: Bold;
   line-height: 0.3;
   text-align: left;
   color: #ffffff;
}
.about-text {
   width: 499px;
   height: 188px;
   font-size: 17px;
   font-weight: 300;
   line-height: 1.59;
   letter-spacing: normal;
   text-align: left;
   color: #ffffff;
}
/* ---OUR SERVICES--- */
.ourservices {
   height: 790px;
   background-color: rgb(112, 191, 255);
   position: relative;
}
.tomato img {
   width: 462px;
   height: 527px;
   margin: 100px 165px 163px 873px;
}
.ourservices-text {
   width: 544px;
   height: 67px;
   font-family: "Raleway";
   font-size: 90px;
   font-weight: bold;
   line-height: 0.3;
   text-align: right;
   color: #ffffff;
   position: relative;
}
.ourservices-text p {
   position: relative;
   top: -445px;
   left: 790px;
}
/* ------------------- */
.section {
   width: 400px;
   height: 460px;
   position: absolute;
   top: 179px;
   left: 265px;
   font-family: "Raleway";
}
/* -------------------- */
.shopping {
   width: 400px;
   height: 100px;
   background-color: rgb(255, 255, 255);
   margin-bottom: 20px;
   position: relative;
}
.shopping {
   position: relative;
}
.shopping:hover {
   box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.line__shopping {
   content: " ";
   background: #9d9d9d;
   width: 1px;
   height: 100px;
   float: left;
   margin-left: 300px;
   position: absolute;
   top: 0;
   left: 0;
}
.shopping p {
   width: 160px;
   height: 19px;
   font-size: 20px;
   font-weight: bold;
   line-height: 1.35;
   text-align: right;
   color: #262626;
   padding: 41px 0 0 0;
   margin: 0 72px 40px 70px;
}
.shopping-ico {
   width: 47px;
   height: 44px;
   position: absolute;
   top: 28px;
   left: 327px;
}
/* ---------------------- */
.product {
   width: 400px;
   height: 100px;
   background-color: rgb(255, 255, 255);
   margin-bottom: 20px;
}
.product {
   position: relative;
}
.product:hover {
   box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.line__product {
   content: " ";
   background: #9d9d9d;
   width: 1px;
   height: 100px;
   float: left;
   margin-left: 300px;
   position: absolute;
   top: 0;
   left: 0;
}
.product p {
   width: 150px;
   height: 19px;
   font-size: 20px;
   font-weight: bold;
   line-height: 1.35;
   text-align: right;
   color: #262626;
   padding: 41px 0 0 0;
   margin: 0 76px 40px 75px;
}
.product-ico {
   width: 55px;
   height: 49px;
   position: absolute;
   top: 26px;
   left: 323px;
}
/* ---------------------- */
.delivery {
   width: 400px;
   height: 100px;
   background-color: rgb(255, 255, 255);
   margin-bottom: 20px;
}
.delivery {
   position: relative;
}
.delivery:hover {
   box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.line__delivery {
   content: " ";
   background: #9d9d9d;
   width: 1px;
   height: 100px;
   float: left;
   margin-left: 300px;
   position: absolute;
   top: 0;
   left: 0;
}
.delivery p {
   width: 290px;
   height: 19px;
   font-size: 20px;
   font-weight: bold;
   line-height: 1.35;
   text-align: right;
   color: #262626;
   text-align: center;
   padding: 26px;
   margin: 0 30px 28px 8px;
}
.delivery-ico {
   width: 54px;
   height: 54px;
   position: absolute;
   top: 23px;
   left: 323px;
}
/* ----------------------- */
.organized {
   width: 400px;
   height: 100px;
   background-color: rgb(255, 255, 255);
}
.organized {
   position: relative;
}
.organized:hover {
   box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.line__organized {
   content: " ";
   background: #9d9d9d;
   width: 1px;
   height: 100px;
   float: left;
   margin-left: 300px;
   position: absolute;
   top: 0;
   left: 0;
}
.organized p {
   width: 229px;
   height: 19px;
   font-size: 20px;
   font-weight: bold;
   line-height: 1.35;
   text-align: center;
   color: #262626;
   padding: 36px;
   margin: 0 71px 40px 45px;
}
.organized-ico {
   width: 55px;
   height: 55px;
   position: absolute;
   top: 23px;
   left: 322px;
}
/* -------GALLERY-------- */
.gallery {
   height: 1536px;
   background-color: rgb(225, 233, 47);
   font-family: "Raleway";
}
.gallery__title {
   width: 308px;
   height: 87px;
   padding: 100px 0 0 0;
   margin: 0px 596px 28px 596px;
}
.gallery__title p {
   font-size: 90px;
   font-weight: bold;
   line-height: 0.3;
   letter-spacing: normal;
   text-align: right;
   color: #262626;
}
.gallery__anagraph {
   width: 577px;
   height: 70px;
   margin: 90px 461px 46px 462px;
}
.gallery__anagraph p {
   font-size: 17px;
   font-weight: 300;
   line-height: 1.59;
   letter-spacing: normal;
   text-align: center;
   color: #262626;
}
/* -----WRAP------ */
.wrap {
   width: 1170px;
   height: 980px;
   margin: 0px 165px 50px 165px;
}
/* -------------- */
.ringe-1 {
   display: flex;
}
.wrap__block-1 {
   width: 770px;
   height: 550px;
   margin-right: 30px;
}
.apricot:hover {
   transition: 0.5s;
   cursor: pointer;
   box-shadow: 0px -7px 16px -3px #000000;
}
.apricot img {
   margin-left: -10px;
   margin-top: -5px;
}
.wrap__block-2 {
   width: 370px;
   height: 550px;
}
.bilbery {
   width: 370px;
   height: 260px;
}
.bilbery:hover {
   transition: 0.5s;
   cursor: pointer;
   box-shadow: 0px -7px 16px -3px #000000;
}
.bilbery img {
   margin-top: -3px;
   margin-left: -5px;
}

.blackbarry {
   width: 370px;
   height: 260px;
   margin-top: 30px;
}
.blackbarry:hover {
   transition: 0.5s;
   cursor: pointer;
   box-shadow: 0px -7px 16px -3px #000000;
}
.blackbarry img {
   margin-top: -3px;
   margin-left: -4px;
}

/* -------------------- */
.ringe-2 {
   display: flex;
}
.milk {
   width: 570px;
   height: 400px;
   margin-top: 30px;
}
.milk:hover {
   transition: 0.5s;
   cursor: pointer;
   box-shadow: 0px -7px 16px -3px #000000;
}
.milk img {
   margin-top: -4px;
   margin-left: -5px;
}
.dried {
   width: 570px;
   height: 400px;
   margin-top: 30px;
   margin-left: 30px;
}
.dried:hover {
   transition: 0.5s;
   cursor: pointer;
   box-shadow: 0px -7px 16px -3px #000000;
}
.dried img {
   margin-top: -4px;
   margin-left: -6px;
}
/* --------------------*/
.btn {
   width: 200px;
   height: 55px;
   box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
   background-color: #5585a2;
   margin: 0px 650px 120px 650px;
   padding: 15px 44px 20px 43px;
}
.btn:hover {
   cursor: pointer;
   transition: 0.2s;
   transform: scale(1.1);
   box-shadow: 0px 0px 33px 4px #000000;
}
.btn p {
   width: 125px;
   height: 15px;
   font-size: 20px;
   font-weight: 300;
   line-height: 1.35;
   color: #ffffff;
   text-transform: uppercase;
}

/* ------SUBSCRIBE ------*/
.subscribe {
   font-family: "Raleway";
   height: 500px;
   border: 1px solid grey;
   background-image: url(../img/Subscribe/bg.png);
}
.subscribe:hover {
   border: 1px solid #1917be;
}
.subscribe__wrapp {
   position: absolute;
}
.subscribe__wrapp form {
   display: flex;
}
.subscribe__title {
   width: 305px;
   height: 31px;
   font-size: 40px;
   font-weight: bold;
   line-height: 0.68;
   text-align: right;
   color: #262626;
   margin: 144px 1032px 33px 166px;
}
.subscribe__anagraph {
   width: 545px;
   height: 43px;
   font-family: "Raleway";
   font-size: 17px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.59;
   letter-spacing: normal;
   text-align: left;
   color: #262626;
   margin: 0px 797px 31px 165px;
}
.mail {
   margin: 0 0 0 165px;
}
.mail input {
   width: 570px;
   height: 55px;
   border: solid 1px #262626;
   padding: 22px 418px 22px 15px;
}
.subscribe__button {
   margin-left: 29px;
}
.subscribe__button button {
   width: 170px;
   height: 55px;
   box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
   background-color: #96b92c;
   position: relative;
   top: 0px;
   left: 0px;
   font-size: 20px;
   font-weight: 300px;
   text-transform: uppercase;
   color: #fff;
}
.subscribe__button:hover {
   border: 1px solid rgb(15, 74, 202);
}

/* -----BLOG------ */
.blog {
   height: 864px;
   background-color: #b07cf7;
   padding-top: 100px;
}
.header__wrap {
   width: 563px;
   height: 182px;
   margin-top: 100px;
}
.header__blog {
   width: 190px;
   height: 86px;
   font-family: "Raleway", sans-serif;
   font-size: 90px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 0.28;
   letter-spacing: normal;
   text-align: right;
   color: #ffffff;
   margin: 0 auto;
   margin-left: 655px;
}
.header__text {
   width: 563px;
   height: 66px;
   text-align: justify;
   font-family: "Raleway";
   font-size: 17px;
   font-weight: 300;
   margin-left: 469px;
   line-height: 1.47;
   letter-spacing: normal;
   color: #ffffff;
   z-index: 42;
}
/* ----------------- */
.menu {
   width: 1224px;
   height: 310px;
   background-color: #b07cf7;
   margin-left: 168px;
   margin-top: 25px;
   display: flex;
}
.greentea {
   width: 370px;
   height: 310px;
   background-image: linear-gradient(to bottom, rgba(209, 191, 191, 0.1), #353030), url(../img/Blog/img-1.png);
   box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.soup {
   width: 370px;
   height: 310px;
   margin-left: 30px;
   background-image: linear-gradient(to bottom, rgba(209, 191, 191, 0.1), #353030), url(../img/Blog/img-2.png);
   box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.raspberry {
   width: 370px;
   height: 310px;
   margin-left: 30px;
   background-image: linear-gradient(to bottom, rgba(209, 191, 191, 0.1), #353030), url(../img/Blog/img-3.png);
   box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

/* -----------------*/
.menu {
   font-family: "Raleway", serif;
   position: relative;
}
.date__greentea,
.date__soup,
.date__raspberry {
   width: 60px;
   height: 60px;
   background-color: #262626;
   opacity: 0.5;
   color: #fff;
   border-radius: 10%;
}
/* -------------------*/
.date__greentea {
   position: absolute;
   top: 30px;
   left: 30px;
}
.date__greentea-text1,
.date__soup-text1,
.date__raspberry-text1 {
   font-family: "Raleway", serif;
   font-weight: bold;
   font-size: 32px;
   position: relative;
   top: 3px;
   left: 13px;
}
.date__greentea-text2,
.date__soup-text2,
.date__raspberry-text2 {
   font-family: "Raleway", serif;
   font-weight: bold;
   font-size: 21px;
   text-transform: uppercase;
   position: relative;
   top: 3px;
   left: 8px;
}
.date__soup {
   position: absolute;
   top: 30px;
   left: 430px;
}
.date__raspberry {
   position: absolute;
   top: 30px;
   left: 830px;
}
/* ------------------ */
.greentea-text,
.soup-text,
.raspberry-text {
   margin-top: 205px;
   margin-left: 25px;
   color: #fff;
}
.tea-text1,
.soup-text1,
.raspberry-text1 {
   font-family: "Raleway", serif;
   width: 306px;
   height: 78px;
   font-weight: bold;
   font-size: 20px;
   line-height: 1.25;
   text-align: left;
}
.tea-text2,
.soup-text2,
.raspberry-text2 {
   margin-top: -9px;
   font-size: 13px;
   font-weight: 300px;
}
/*-----BUTTON-----*/
.butt {
   width: 200px;
   height: 55px;
   background-color: #f72b3b;
   margin: 0 auto;
   margin-top: 50px;
   -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.butt:hover {
   background-color: #880518;
   transition: all 0.5s ease-in;
   transition: 0.5s;
   transform: scale(1.2);
}
.wrapp__butt p {
   color: #fff;
   text-align: center;
   padding: 20px 0 0 0;
   font-family: "Raleway", Light;
   font-size: 20px;
}
/* ------CONTACT------ */
.page {
   background-image: url(../img/Contact/img.png);
   width: 1500px;
   padding-top: 101px;
   margin: 0 auto;
}

.contact {
   width: 337px;
   height: 65px;
   margin: 0px 582px 48px 581px;
}
.contact h1 {
   width: 337px;
   height: 65px;
   font-family: Raleway;
   font-size: 90px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 0.28;
   letter-spacing: normal;
   text-align: center;
   color: #262626;
}

.for {
   width: 342px;
   height: 41;
   margin: 0 579px 46px;
   text-align: center;
}

.for p {
   width: 342px;
   height: 41px;
   font-family: "Raleway";
   font-size: 16px;
   font-weight: 300;
   font-stretch: normal;
   font-style: normal;
   line-height: 1.47;
   letter-spacing: normal;
   text-align: center;
   color: #262626;
}
/* ------WRAPP------- */
.wrapp__contact {
   width: 987px;
   height: 445px;
   margin: 46px 348px 120px 165px;
   display: flex;
}
/* ---------FORM------------- */
.left {
   font-family: "Raleway";
   width: 500px;
   height: 445px;
   margin-right: 170px;
}

form input:focus {
   -webkit-box-shadow: -6px 0px 2px -1px #355b82;
   -moz-box-shadow: -6px 0px 2px -1px #355b82;
   box-shadow: -6px 0px 2px -1px #355b82;
}

.name input[placeholder="Your name"],
.mmail input[placeholder="Your email"],
.phone input[placeholder="Your phone number..."] {
   color: #fff;
   opacity: 0.5;
}
.name input:focus,
.mmail input:focus,
.phone input:focus {
   opacity: 1;
   font-weight: bold;
   transition: all 0.1s ease-in;
}
.name input::-webkit-input-placeholder,
.mmail input::-webkit-input-placeholder,
.phone input::-webkit-input-placeholder {
   color: #fff;
}
.name input[type="text"],
.mmail input[type="text"],
.phone input[type="tel"] {
   padding-left: 20px;
}

.name input[type="text"] {
   font-size: 15px;
   width: 100%;
   height: 50px;
   background-color: #00c4c4;
}
.mmail input[type="text"] {
   font-size: 15px;
   width: 100%;
   height: 50px;
   margin-top: 15px;
   background-color: #00c4c4;
}
.phone input[type="tel"] {
   font-size: 15px;
   width: 100%;
   height: 50px;
   margin-top: 15px;
   background-color: #00c4c4;
}
textarea {
   font-size: 15px;
   width: 100%;
   height: 250px;
   width: 500px;
   margin-top: 15px;
   background-color: #00c4c4;
   color: #fff;
   opacity: 0.5;
   resize: none;
   padding: 20px 20px;
}
textarea:focus {
   opacity: 1;
   font-weight: bold;
   transition: all 0.1s ease-in;
}
textarea::-webkit-input-placeholder {
   color: #fff;
}
form textarea:focus {
   -webkit-box-shadow: -6px 0px 2px -1px #355b82;
   -moz-box-shadow: -6px 0px 2px -1px #355b82;
   box-shadow: -6px 0px 2px -1px #355b82;
}
.send {
   margin-top: 15px;
   width: 500px;
   height: 50px;
   font-size: 15px;
   background-color: #00c4c4;
   color: #fff;
   opacity: 0.5;
}
.send:focus {
   opacity: 1;
   box-shadow: 0px 0px 14px 5px #000000;
   transition: all 0.9s ease-in;
   -webkit-transform: scale(0.7);
   -ms-transform: scale(0.7);
   transform: scale(0.7);
   font-size: 20px;
   font-weight: bold;
}
.send:hover {
   opacity: 1;
   box-shadow: 0px 0px 14px 5px #000000;
   transition: all 0.9s ease-in;
   -webkit-transform: scale(0.7);
   -ms-transform: scale(0.7);
   transform: scale(0.7);
   font-size: 20px;
   font-weight: bold;
}

/* ----------TEXT----------- */
.right {
   width: 317px;
   height: 160px;
   /* border: 1px solid red; */
   font-family: "Raleway";
}
.right h2 {
   font-size: 20px;
   font-weight: bold;
   line-height: 1.25;
   color: #262626;
}
.right p {
   font-size: 18px;
   font-weight: regular;
   color: #262626;
   line-height: 1.25;
   margin-bottom: 10px;
}
/* --------FOOTER-------- */
.footer {
   width: 1500px;
   height: 90px;
   background-color: #262626;
   margin: 0 auto;
}
.content {
   width: 1172px;
   height: 27px;

   margin-left: 164px;
   margin-right: 164px;
   color: #b9b9b9;
   display: flex;
   /* margin: 32px 164px 31px 164px; */
}
.block-1 {
   width: 259px;
   height: 16px;
   font-family: "Raleway";
   font-size: 15px;
   font-weight: 300;
   line-height: 1.56;
   text-align: left;
   color: #b9b9b9;
   margin: 37px 0px 37px 0px;
}
.block-2 {
   width: 64px;
   height: 27px;
   font-family: "Pacifico";
   font-size: 25px;
   line-height: 1;
   color: #b9b9b9;
   margin: 32px 0px 31px 295px;
}
.block-3 {
   width: 194px;
   height: 14px;
   font-family: "Raleway";
   font-size: 15px;
   font-weight: 300;
   line-height: 1.67;
   text-align: left;
   color: #b9b9b9;
   margin: 38px 0px 38px 362px;
}

.block-3 span {
   font-weight: bold;
   color: #ff2b58;
}
