.header {
  max-width: 100%;
  height: 100vh;
  background-color: #18b5a4;
  padding: 10px;
}

.header__gamecart-face {
  background-image: url(../img/back.png);
  background-size: 100%;
  width: 100px;
  height: 150px;
  border: 2px solid green;
  background-color: #ece89d;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

.header .header__gamecart-face:hover {
  background-image: url(../img/two.png);
  -webkit-animation: pulse 1s infinite;
          animation: pulse 1s infinite;
}

@-webkit-keyframes header__gamecart-face {
  0% {

  }

  100% {

  }
}

@keyframes header__gamecart-face {
  0% {

  }

  100% {

  }
}

.webp .header__gamecart-face { background-image: url(../img/back.webp); }

.webp .header .header__gamecart-face:hover { background-image: url(../img/two.webp); }