// ---- Colors -----

$A-color: #ffffff;
$B-color: #e8e8e8;
$C-color: #5474fd;
$D-color: #333333;
$E-color: #496bfe;
$F-color: #232323;
$G-color: #fefefe;
$H-color: #ff0000;
$I-color: #999999;
$J-color: #00a2ff;
$K-color: #cccccc;
$L-color: #ff6363;
$M-color: #ffff00;

// -----------------
