body {
   background-color: #b07cf7;
}
.main {
   width: 1500px;
}
.header {
   width: 563px;
   height: 182px;
   margin-top: 100px;
}
.header__blog {
   width: 190px;
   height: 86px;
   font-family: "Raleway", sans-serif;
   font-size: 90px;
   font-weight: bold;
   font-stretch: normal;
   font-style: normal;
   line-height: 0.28;
   letter-spacing: normal;
   text-align: right;
   color: #ffffff;
   margin: 0 auto;
   margin-left: 655px;
}
.header__text {
   width: 563px;
   height: 66px;
   text-align: justify;
   font-family: "Raleway";
   font-size: 17px;
   font-weight: 300;
   margin-left: 469px;
   line-height: 1.47;
   letter-spacing: normal;
   color: #ffffff;
   z-index: 42;
}
/* ---------------- */
.menu {
   width: 1224px;
   height: 310px;
   background-color: #b07cf7;
   margin-left: 168px;
   margin-top: 25px;
   display: flex;
}
.greentea {
   width: 370px;
   height: 310px;
   background-image: linear-gradient(to bottom, rgba(209, 191, 191, 0.1), #353030), url(../img/img-1.png);
   box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.soup {
   width: 370px;
   height: 310px;
   margin-left: 30px;
   background-image: linear-gradient(to bottom, rgba(209, 191, 191, 0.1), #353030), url(../img/img-2.png);
   box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.raspberry {
   width: 370px;
   height: 310px;
   margin-left: 30px;
   background-image: linear-gradient(to bottom, rgba(209, 191, 191, 0.1), #353030), url(../img/img-3.png);
   box-shadow: 5px 4px 10px 0 rgba(0, 0, 0, 0.5);
}
/*-----BUTTON-----*/
.button {
   width: 200px;
   height: 55px;
   background-color: #f72b3b;
   margin: 0 auto;
   margin-top: 50px;
   -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
.button:hover {
   background-color: #880518;
   transition: all 0.5s ease-in;
   transition: 0.5s;
   transform: scale(1.2);
}
.wrapp {
   text-align: center;
   color: #fff;
   padding: 20px 0 0 0;
   font-family: "Raleway", Light;
   font-size: 20px;
}
/* -----------------*/
.menu {
   font-family: "Raleway", serif;
   position: relative;
}
.date__greentea,
.date__soup,
.date__raspberry {
   width: 60px;
   height: 60px;
   background-color: #262626;
   opacity: 0.5;
   color: #fff;
   border-radius: 10%;
}
/* -------------------*/
.date__greentea {
   position: absolute;
   top: 30px;
   left: 30px;
}
.date__greentea-text1,
.date__soup-text1,
.date__raspberry-text1 {
   font-family: "Raleway", serif;
   font-weight: bold;
   font-size: 32px;
   position: relative;
   top: 3px;
   left: 13px;
}
.date__greentea-text2,
.date__soup-text2,
.date__raspberry-text2 {
   font-family: "Raleway", serif;
   font-weight: bold;
   font-size: 21px;
   text-transform: uppercase;
   position: relative;
   top: 3px;
   left: 8px;
}
.date__soup {
   position: absolute;
   top: 30px;
   left: 430px;
}
.date__raspberry {
   position: absolute;
   top: 30px;
   left: 830px;
}
/* ------------------ */
.greentea-text,
.soup-text,
.raspberry-text {
   margin-top: 205px;
   margin-left: 25px;
   color: #fff;
}
.tea-text1,
.soup-text1,
.raspberry-text1 {
   font-family: "Raleway", serif;
   width: 306px;
   height: 78px;
   font-weight: bold;
   font-size: 20px;
   line-height: 1.25;
   text-align: left;
}
.tea-text2,
.soup-text2,
.raspberry-text2 {
   margin-top: -9px;
   font-size: 13px;
   font-weight: 300px;
}
