.about {
   font-family: "MyriadPro";
   background-color: $color-1;

   &__wrapper {
      padding: 36px 0px 111px 133px;
   }

   &__upper {
      display: flex;
      padding-bottom: 72px;
   }

   &__title span {
      color: $color-8;
      font-size: 30px;
      font-weight: 600;
      text-align: left;
   }

   &__title h2 {
      font-size: 80px;
      // font-weight: 600;
      text-align: left;
      padding-right: 165px;
   }

   &__title h2:first-letter {
      color: $color-4;
   }

   &__title:after {
      display: block;
      content: "";
      color: $color-8;
      width: 133px;
      height: 1px;
      border: 1px solid $color-10;
      margin: -6px auto;
   }

   &__text {
      color: $color-3;
   }

   &__text .sub-text {
      font-size: 16px;
      font-style: italic;
      color: $color-2;
      margin-bottom: 11px;
   }

   &__lower {
      display: flex;
      justify-content: space-around;
   }

   &__app,
   &__game,
   &__cont {
      text-align: center;
   }

   &__ico {
      margin: 0 auto;
      background-color: $color-7;
      display: inline-block;
      width: 57px;
      height: 57px;
      border: 2px solid $color-5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      cursor: pointer;
   }

   &__subtitle {
      font-size: 18px;
      margin-bottom: 19px;
   }
   &__txt {
      max-width: 231px;
      font-size: 10px;
      font-style: italic;
   }
   &__txt p {
      margin-bottom: 17px;
   }
}
.container {
}
