.blog {
   font-family: "MyriadPro";
   background-color: $color-1;
   padding: 0px 0 115px 0;

   @media (max-width: 415px) {
      padding: 0 0 25px 0;
   }
   @media (max-width: 376px) {
      padding: 0 0 25px 0;
   }

   &__wrapp {
      display: flex;
      @media (max-width: 1025px) {
         display: inline-block;
      }
   }
   &__left {
   }

   // **************************
   &__title {
      @include tlt;
      padding-bottom: 0;
      margin-bottom: 50px;
      margin-top: 60px;

      @media (max-width: 1025px) {
         text-align: center;
         font-size: 60px;
      }
      @media (max-width: 376px) {
         margin-bottom: 20px;
      }
   }
   &__title:first-letter {
      @include fLeter;
   }
   &__title:after {
      @include grayline;
      width: 84px;
      margin: -6px 0px -6px 0px;
      margin-top: 5px;
      @media (max-width: 1025px) {
         width: 120px;
         margin: -6px 0px -6px 326px;
         margin-top: 5px;
      }
      @media (max-width: 769px) {
         margin: -6px 0px -6px 335px;
         margin-top: 5px;
      }
      @media (max-width: 376px) {
         margin: -6px 0 -6px 131px;
         margin-top: 5px;
      }
      @media (max-width: 415px) {
         margin: -6px 0 -6px 135px;
         margin-top: 5px;
      }
   }
   // **************************

   &__nav {
      font-size: 18px;
      margin-left: 87px;
      margin-right: 115px;

      @media (max-width: 769px) {
         margin: 0 10px 0 10px;
      }
   }
   &__list {
      @media (max-width: 1025px) {
         display: flex;
      }
   }
   &__url {
   }

   // **************************
   &__item {
      color: $color-2;
   }
   &__item:hover {
      color: $color-4;
   }
   &__url:not(:last-child) > &__item {
      margin-bottom: 25px;
   }
   // **************************

   &__right {
      margin-top: 30px;
   }
   &__inner {
      display: flex;
      @media (max-width: 1025px) {
         justify-content: center;
      }
      @media (max-width: 376px) {
         display: inline-block;
      }
      @media (max-width: 415px) {
         display: inline-block;
      }
   }

   &__box {
      @media (max-width: 376px) {
         display: inherit;
      }
      @media (max-width: 415px) {
         display: inherit;
      }
   }
   &__box:nth-child(2) {
      padding: 0 110px 0 82px;
      @media (max-width: 376px) {
         padding: 0;
      }
      @media (max-width: 414px) {
         padding: 0;
      }
   }

   &__img {
      padding-bottom: 10px;
   }
   &__date {
      color: $color-4;
      font-size: 18px;
      padding-bottom: 30px;
   }
   &__subtitle {
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 18px;
   }
   &__txt {
      display: block;
      width: 186px;
      font-size: 12px;
      font-style: italic;
      @media (max-width: 376px) {
         margin-bottom: 20px;
      }
      @media (max-width: 415px) {
         margin-bottom: 20px;
      }
   }
   // *****menu-burger*****
   &__btn-menu {
      display: none;
      font-size: 30px;
      cursor: pointer;
      @media (max-width: 1024px) {
         display: block;
         padding-bottom: 25px;
      }

      @media (max-width: 376px) {
         display: block;
      }
      @media (max-width: 414px) {
         display: block;
      }
   }

   &__nav &__list {
      @media (max-width: 376px) {
         display: none;
      }
      @media (max-width: 414px) {
         display: none;
      }
   }
}
.container {
}
