.series {
   background-image: url(../../img/series/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   color: $color-1;
   font-family: "MyriadPro";
   .container {
      text-align: center;
   }
   &__wrapper {
      padding: 55px 150px 58px 50px;
      display: flex;
      @media (min-width: 319px) and(max-width:415px) {
         padding: 26px;
      }
      @media (max-width: 1200px) {
         display: inline-block;
         padding: 55px;
      }
   }

   &__title {
      @include tlt;
      margin-right: 200px;

      @media (max-width: 575px) {
         margin-right: 0;
         text-align: center;
      }
   }
   &__title:first-letter {
      @include fLeter;
   }
   &__title:after {
      @include grayline;
      margin: -6px 0px -6px 105px;
      margin-top: 3px;

      @media (max-width: 321px) {
         margin: -6px 0 -6px 132px;
         margin-top: 3px;
      }

      @media (max-width: 326px) {
         margin: -6px 0 -6px 107px;
         margin-top: 3px;
      }
      @media (max-width: 376px) {
         margin: -6px 0 -6px 159px;
         margin-top: 3px;
      }

      @media (max-width: 415px) {
         margin: -6px 0 -6px 143px;
         margin-top: 3px;
      }

      @media (max-width: 575px) {
         margin: -6px 0px -6px 125px;
         margin-top: 3px;
      }
   }

   &__info {
      max-width: 541px;
      margin-top: 85px;
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 1025px) {
         margin-top: 17px;
      }
      @media (max-width: 376px) {
         display: flex;
         // justify-content: center;
      }
   }

   &__block {
      max-width: 225px;
      @media (max-width: 376px) {
         max-width: 309px;
      }
      @media (max-width: 415px) {
         max-width: 385px;
      }
   }
   &__block:first-child {
      padding-bottom: 75px;
      @media (max-width: 376px) {
         padding-bottom: 20px;
      }
      @media (max-width: 415px) {
         padding-bottom: 20px;
      }
   }
   &__block:first-child,
   &__block:nth-child(3) {
      margin-right: 91px;
      @media (max-width: 376px) {
         margin-right: 0;
         padding-bottom: 20px;
      }
      @media (max-width: 415px) {
         max-width: 385px;
         margin-bottom: 20px;
         margin-right: 0;
      }
   }

   &__block:nth-child(2) {
      @media (max-width: 376px) {
         margin-right: 0;
         padding-bottom: 20px;
      }
      @media (max-width: 415px) {
         margin-right: 0;
         padding-bottom: 20px;
      }
   }

   &__subtitle {
      font-size: 18px;
      text-align: left;
      margin-bottom: 26px;

      @media (max-width: 376px) {
         font-size: 20px;
      }
      @media (max-width: 415px) {
         font-size: 20px;
      }
   }

   &__text {
      font-size: 11px;
      text-align: left;
      letter-spacing: 0.5px;

      @media (max-width: 376px) {
         font-size: 13px;
      }
      @media (max-width: 414px) {
         font-size: 13px;
      }
   }
}
