.testimonials {
   font-family: "MyriadPro";
   color: $color-1;
   padding: 55px 0 136px 0;
   &__wrapper {
      display: flex;
   }

   // ************************
   &__title {
      @include tlt;
      padding-bottom: 84px;
   }
   &__title:first-letter {
      @include fLeter;
   }
   &__title:after {
      @include grayline;
      width: 103px;
      margin: -6px 0px -6px 57px;
      margin-top: 5px;
   }
   // ************************

   &__descriptions {
      max-width: 624px;
      display: inline-block;
      margin-left: 42px;
      margin-right: 87px;
   }
   &__bent {
      @include pendent;
      color: $color-1;
   }
   &__foto {
      text-align: center;
      margin-top: 30px;
   }
   &__img {
      border-radius: 50%;
      display: block;
      border: 2px solid $color-5;
      margin-bottom: 26px;
   }
   &__position {
      font-size: 16px;
   }
}
