.work {
   background-color: $color-1;
   font-family: "MyriadPro";
   padding-bottom: 66px;

   &__top {
      margin-left: 81px;

      @media (max-width: 1024px) {
         margin-left: 62px;
      }
      @media (max-width: 768px) {
         margin-left: 86px;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
         // margin-left: 149px;
         justify-content: center;
      }
      @media (min-width: 768px) and (max-width: 991px) {
         // margin-left: 48px;
         justify-content: center;
      }
      @media (min-width: 576px) and (max-width: 767px) {
         // margin-left: 86px;
         justify-content: center;
      }
      @media (min-width: 320px) and(max-width: 575px) {
         margin-left: 13px;
         justify-content: center;
      }
   }
   &__title {
      font-size: 30px;
      font-weight: 600;
      text-align: left;
      margin-bottom: 23px;
   }
   &__title:after {
      @include grayline;
      margin: -6px 0px -6px 103px;
      margin-top: 3px;
   }

   &__title:first-letter {
      color: $color-4;

      @media (max-width: 375px) {
         margin-left: 25px;
      }
      @media (max-width: 414px) {
         margin-left: 44px;
      }
   }
   &__menu {
      margin-bottom: 26px;

      @media (max-width: 375px) {
         margin-left: 25px;
      }
      @media (max-width: 414px) {
         margin-left: 43px;
      }
      @media (max-width: 320px) {
         margin-left: auto;
      }
   }
   &__list {
      display: flex;
   }

   &__item:nth-child(3) {
      margin-left: 15px;
   }
   &__item:last-child {
      margin-left: 15px;
   }

   &__item:nth-child(2) {
      margin-left: 35px;
   }
   &__url {
      color: $color-9;
      font-size: 9px;
      padding-bottom: 3px;
   }
   &__url:hover {
      box-shadow: 0px 4px 0px -3px rgba(255, 198, 0, 1);
   }

   &__bottom {
      display: flex;
      flex-wrap: wrap;

      @media (min-width: 992px) and (max-width: 1199px) {
         justify-content: center;
      }

      @media (min-width: 768px) and (max-width: 991px) {
         justify-content: center;
      }

      @media (min-width: 576px) and (max-width: 767px) {
         justify-content: center;
      }

      @media (max-width: 575px) {
         justify-content: center;
      }
   }
}
