.series {
   color: $color-1;
   font-family: "MyriadPro";
   .container {
      text-align: center;
   }
   &__wrapper {
      background-image: url(../../img/series/bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding: 55px 150px 58px 50px;
      display: flex;
   }

   // *********************
   &__title {
      @include tlt;
      margin-right: 200px;
   }
   &__title:first-letter {
      @include fLeter;
   }
   &__title:after {
      @include grayline;
      margin: -6px 0px -6px 105px;
      margin-top: 3px;
   }
   // **********************

   &__info {
      max-width: 541px;
      margin-top: 85px;
      display: flex;
      flex-wrap: wrap;
   }

   &__block {
      max-width: 225px;
   }
   &__block:first-child {
      padding-bottom: 75px;
   }
   &__block:first-child,
   &__block:nth-child(3) {
      margin-right: 91px;
   }

   &__block:nth-child(2) {
   }

   &__subtitle {
      font-size: 18px;
      text-align: left;
      margin-bottom: 26px;
   }

   &__text {
      font-size: 11px;
      text-align: left;
      letter-spacing: 0.5px;
   }
}
