.main {
   width: 1920px;
   height: 4685px;
   border: 1px solid gray;
   margin: 0 auto;
   font-family: "Lato";
}
.header {
   height: 1072px;
   background-image: url(../img/img-1.png);
   padding: 285px 665px 245px 664px;
}
.header__container {
   width: 591px;
   height: 370px;
   padding-top: 1px;
}
.logo {
   position: relative;
}
.circle img {
   position: absolute;
   top: 0px;
   left: 260px;
}
.rectangle img {
   position: absolute;
   top: 12px;
   left: 265px;
}
.ellipse-1 img {
   position: absolute;
   top: 64px;
   left: 263px;
}
.ellipse-2 img {
   position: absolute;
   top: 64px;
   left: 290px;
}
.ellipse-3 img {
   position: absolute;
   top: 64px;
   left: 318px;
}
.header__working {
   margin: 144px 0px 40px 0px;
   color: #fff;
   width: 591px;
   height: 103px;
}
.header__working p {
   font-family: "Lato";
   font-size: 54px;
   font-weight: bold;
   letter-spacing: 8.64px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
}
.header__anagraph {
   width: 585px;
   height: 70px;
}
.header__anagraph p {
   font-family: "Lato";
   font-size: 15px;
   line-height: 1.93;
   letter-spacing: 0.9px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
}
/* -------ABOUT US-------- */
.aboutus {
   height: 631px;
   padding: 160px 510px 150px 508px;
}
.aboutus__wrapp {
   width: 902px;
   height: 312px;
   border: 2px solid #3c3c3c;
}
.aboutus__wrapp {
   position: relative;
}
.aboutus__wrapp-1 {
   padding: 5px 50px 5px 55px;
   font-family: "Lato";
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #3c3c3c;
}
.block-aboutus-1 p {
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: #fff;
   width: 400px;
   height: 45px;
   position: absolute;
   top: -25px;
   left: 245px;
}
.aboutus__wrapp-2 {
   margin-top: 65px;
   margin-left: 178px;
   margin-right: 171px;
   width: 520px;
   height: 206px;
   font-family: "Lato";
   font-size: 16px;
   font-weight: 300;
   line-height: 1.5;
   text-align: center;
   color: #3c3c3c;
}
/* -----SERVICES------ */
.services {
   height: 488px;
   background-image: url(../img/img-2.png);
   padding-top: 128px;
   font-family: "Lato";
}
.services__wrap {
   width: 899px;
   height: 251px;
   border: 2px solid #fff;
   margin: 0px 511px 109px 510px;
   position: absolute;
}

/* ------------------------- */
.wrapper {
   font-family: "Lato";
   background-image: url(../img/img-2.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 1920px;
   height: 488px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
fieldset {
   width: 50%;
   height: 50%;
   margin-top: 0.7em;
   transform: rotate3d(0, 0, 1, 360deg);
   border: 3px solid rgba(255, 255, 255);
}
legend {
   font-size: 34px;
   font-weight: 700;
   letter-spacing: 5.44px;
   text-align: center;
}
legend span,
fieldset .text {
   display: block;
   color: white;
   text-shadow: 0 0 4px black;
   padding: 0 1em;
}
legend span {
   color: #fff;
}
.wrapper__text {
   width: 544px;
   height: 143px;
   font-family: Lato;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.63;
   text-align: center;
   color: #ffffff;
   margin: 0 auto;
   padding-top: 30px;
}
