.main {
   width: 1920px;
   height: 4685px;
   border: 1px solid gray;
   margin: 0 auto;
   font-family: "Lato";
}
.header {
   height: 1072px;
   background-image: url(../img/img-1.png);
   padding: 285px 665px 245px 664px;
}
.header__container {
   width: 591px;
   height: 370px;
   padding-top: 1px;
}
.logo {
   position: relative;
}
.circle img {
   position: absolute;
   top: 0px;
   left: 260px;
}
.rectangle img {
   position: absolute;
   top: 12px;
   left: 265px;
}
.ellipse-1 img {
   position: absolute;
   top: 64px;
   left: 263px;
}
.ellipse-2 img {
   position: absolute;
   top: 64px;
   left: 290px;
}
.ellipse-3 img {
   position: absolute;
   top: 64px;
   left: 318px;
}
.header__working {
   margin: 144px 0px 40px 0px;
   color: #fff;
   width: 591px;
   height: 103px;
}
.header__working p {
   font-family: "Lato";
   font-size: 54px;
   font-weight: bold;
   letter-spacing: 8.64px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
}
.header__anagraph {
   width: 585px;
   height: 70px;
}
.header__anagraph p {
   font-family: "Lato";
   font-size: 15px;
   line-height: 1.93;
   letter-spacing: 0.9px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
}
/* -------ABOUT US-------- */
.aboutus {
   height: 631px;
   padding: 160px 510px 150px 508px;
}
.aboutus__wrapp {
   width: 902px;
   height: 312px;
   border: 2px solid #3c3c3c;
}
.aboutus__wrapp {
   position: relative;
}
.aboutus__wrapp-1 {
   padding: 5px 50px 5px 55px;
   font-family: "Lato";
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #3c3c3c;
}
.block-aboutus-1 p {
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: #fff;
   width: 400px;
   height: 45px;
   position: absolute;
   top: -25px;
   left: 245px;
}
.aboutus__wrapp-2 {
   margin-top: 65px;
   margin-left: 178px;
   margin-right: 171px;
   width: 520px;
   height: 206px;
   font-family: "Lato";
   font-size: 16px;
   font-weight: 300;
   line-height: 1.5;
   text-align: center;
   color: #3c3c3c;
}
/* -----SERVICES------ */
.services {
   height: 488px;
   background-image: url(../img/img-2.png);
   padding-top: 128px;
   font-family: "Lato";
}
.services__wrap {
   width: 899px;
   height: 251px;
   border: 2px solid #fff;
   margin: 0px 511px 109px 510px;
   position: absolute;
}

/* ------------------------- */
.wrapper {
   font-family: "Lato";
   background-image: url(../img/img-2.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 1920px;
   height: 488px;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}
fieldset {
   width: 899px;
   height: 251px;
   margin-top: 0.7em;
   transform: rotate3d(0, 0, 1, 360deg);
   border: 2px solid rgba(255, 255, 255);
}
legend {
   font-size: 34px;
   font-weight: 700;
   letter-spacing: 5.44px;
   text-align: center;
}
legend span,
fieldset .text {
   display: block;
   color: white;
   text-shadow: 0 0 4px black;
   padding: 0 1em;
}
legend span {
   color: #fff;
}
.wrapper__text {
   width: 544px;
   height: 143px;
   font-family: Lato;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.63;
   text-align: center;
   color: #ffffff;
   margin: 0 auto;
   padding-top: 30px;
}
/* ----- WHAT WE DO ----- */
.what-we-do {
   height: 1415px;
   padding-top: 119px;
   position: relative;
}
.what-we-do__wrapp {
   width: 902px;
   height: 1182px;
   border: 2px solid #000;
   margin: 0px 510px 114px 508px;
   position: relative;
}
.what-we-do__title {
   width: 419px;
   height: 26px;
   background-color: #fff;
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #3c3c3c;
   position: absolute;
   top: -18px;
   left: 230px;
}
.ico-pen {
   width: 80px;
   height: 84px;
   position: absolute;
   top: 125px;
   left: 409px;
}
.ico-pen__design {
   width: 87px;
   height: 16px;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 3.2px;
   text-align: center;
   color: #3c3c3c;
   margin: 248px 409px 37px 406px;
}
.ico-pen__text {
   width: 547px;
   height: 63px;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.86;
   text-align: center;
   color: #3c3c3c;
   margin: 0px 174px 94px 181px;
}
.ico-develop {
   width: 79px;
   height: 76px;
   position: absolute;
   top: 500px;
   left: 410px;
}
.devrlop__title {
   width: 179px;
   height: 16px;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 3.2px;
   text-align: center;
   color: #3c3c3c;
   position: absolute;
   top: 613px;
   left: 363px;
}
.develop__text {
   width: 547px;
   height: 63px;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.86;
   text-align: center;
   color: #3c3c3c;
   margin: 300px 174px 4px 181px;
}
.ico-product {
   width: 79px;
   height: 91px;
   position: absolute;
   top: 829px;
   left: 410px;
}
.product__title {
   width: 305px;
   height: 16px;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 3.2px;
   color: #3c3c3c;
   text-transform: uppercase;
   margin: 255px 300px 47px 303px;
}
.product__text {
   width: 534px;
   height: 63px;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.86;
   text-align: center;
   color: #3c3c3c;
   margin: 0px 180px 92px 188px;
}
/* -------GALERY-------- */
.galery {
   height: 484px;
}
.first-row,
.second-row {
   height: 237px;
   margin-bottom: 10px;
   display: flex;
}
.topworkz {
   width: 548px;
   margin-right: 10px;
   background-image: url(../img/topworkz.png);
}
.topworkz p {
   width: 234px;
   height: 26px;
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #ffffff;
   margin: 169px 267px 42px 47px;
   text-transform: uppercase;
}
.joint {
   width: 802px;
   margin-right: 10px;
   background-image: url(../img/joint.png);
}
.joint p {
   width: 120px;
   height: 26px;
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #ffffff;
   margin: 168px 639px 43px 43px;
   text-transform: uppercase;
}
.market {
   width: 550px;
   background-image: url(../img/market.png);
}
.market p {
   width: 166px;
   height: 26px;
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
   margin: 168px 335px 43px 43px;
}
.worktop {
   width: 548px;
   margin-right: 10px;
   background-image: url(../img/worktop.png);
}
.worktop p {
   width: 207px;
   height: 26px;
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
   margin: 170px 292px 41px 49px;
}
.lable {
   width: 802px;
   margin-right: 10px;
   background-image: url(../img/lable.png);
}
.lable p {
   width: 120px;
   height: 26px;
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
   margin: 169px 638px 42px 44px;
}
.kyiv {
   width: 550px;
   background-image: url(../img/kyiv.png);
}
.kyiv p {
   width: 93px;
   height: 26px;
   font-size: 34px;
   font-weight: bold;
   letter-spacing: 5.44px;
   text-align: center;
   color: #ffffff;
   text-transform: uppercase;
   margin: 169px 408px 42px 49px;
}
/* -----------CONTACT US------------- */
.contact {
   height: 596px;
   padding-top: 138px;
}
.contact__wrapp {
   width: 899px;
   height: 293px;
   border: 2px solid #3c3c3c;
   margin: 0 auto;
   position: relative;
}
.contact__title {
   width: 350px;
   height: 35px;
   background-color: #fff;
   position: absolute;
   top: -15px;
   left: 280px;
}
.contact__title p {
   font-size: 30.5px;
   font-weight: bold;
   letter-spacing: 4.88px;
   text-align: center;
   color: #3c3c3c;
}
.contact__text {
   width: 543px;
   height: 66px;
   font-size: 16px;
   font-weight: 300;
   line-height: 1.63;
   text-align: center;
   color: #3c3c3c;
   margin: 59px 178px 42px 178px;
}
.button {
   width: 395px;
   height: 58px;
   border: solid 2px #3c3c3c;
   background-color: #3c3c3c;
   margin: 0px 254px 50px 250px;
}
.button:hover {
   box-shadow: -3px 11px 41px 8px #3c3c3c;
}
.button p {
   width: 130px;
   height: 11px;
   font-size: 16px;
   letter-spacing: 2.56px;
   text-align: center;
   color: #fff;
   margin: 20px 137px 24px 137px;
}
/* ----FOTER---- */
.footer {
   font-family: "Lato";
   width: 350px;
   margin: 63px 810px 67px 810px;
   display: flex;
}
.footer__logo {
   width: 35px;
   height: 35px;
   position: relative;
}
.footer__text {
   width: 350px;
   height: 14px;
   font-size: 14px;
   text-align: left;
   color: #3c3c3c;
   margin: 12px 0 0 20px;
}
